body{
    margin: 0px;
    padding: 0px;
    background: url('img/bg.jpg');
    background-size: cover;
    color: white;
    font-family: 'Balsamiq Sans', cursive;

}

.left{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;
}
.mid{
    display: block;
    width: 50%;
    margin: 29px auto;
    /* border: 2px solid green; */
}
.right{
    /* border: 2px solid blue; */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 43px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
 text-decoration: none;
 color: white;
 padding: 34px 23px;
}

.navbar li a:hover,.navbar li a.active{
    text-decoration: underline;
    color: rgb(194, 187, 187);
   }

.left img{
    width: 130px;
    /* filter: invert(100%); */
}
.left div{
    text-align: center;
    line-height: 19px;
    font-size: 22px;
}
.btn{
    margin: 0px 9px;
    color: white;
    background-color: rgba(148, 188, 201, 0.363);
    border: 2px solid rgba(148, 188, 201, 0.363);
    border-radius: 10px;
    padding: 4px 14px;
    font-size: 15px;
    font-family: 'Balsamiq Sans', cursive;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(231, 219, 219, 0.301);
}

.container{
    border: 2px solid white;
    margin: 106px 66px;
    padding: 18px 75px;
    width: 33%;
    border-radius: 20px;
}

.form-group input{
    text-align: center;
    display: block;
    width: 400px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    border-radius:  8px;
    font-size: 20px;
    font-family: 'Balsamiq Sans', cursive;
}

.container h1{
    text-align: center;
}
.container .btn{
    display: block;
    width: 40%;
    margin: auto;
}